// 640px, 1152px, 1400px
$breakpoints-up: (
  md: '40em',
  lg: '72em',
  xl: '87.5em',
);

// 639px, 1151px, 1399px
$breakpoints-down: (
  md: '39.9375em',
  lg: '71.9375',
  xl: '87.4375em',
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
